{% extends 'html/base.htm' %}
{% load static %}
{% block title %} openpics/signup {% endblock %} 
{% block content %}
<br> <br> <br>
<div class="container mt-2">
    <div class="card col-md-5 mx-auto ">
        <div class="card-body">
            <h1>Profile Update</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for i in k %}
                <div>
                    {{i}}
                </div>
                {% endfor %}
                <div class="row">
                <div class="col">
                    <input type="reset" value="Reset" class="btn btn-outline-danger my-2">
                </div>
                <div class="col">
                    <input type="submit" value="Update" class="btn btn-outline-success my-2" >
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
<img style="position: relative;left: 570px" class=""  src="{% static 'img/appimage/profile_img.png' %}" height="250px" width="400px"alt="cloud upload">
{% endblock %}
