{% extends 'html/base.htm' %}
{% load static %}
{% block title %} openpics {% endblock %} 
{% block content %}
<style>
    body{
        overflow: hidden;
    }
    .hd-cls{
        background: rgb(58,180,164);
        background: linear-gradient(90deg, rgba(58,180,164,1) 0%, rgba(29,253,32,1) 50%, rgba(242,252,69,1) 100%); 
        border-radius: 10px;
    }
    .hd-cls:hover{
        animation: textblink 2s infinite;

    }
    @keyframes textblink {
    0% {
        color: rgb(220, 238, 119);
    }
    
    50% {
        color: rgb(110, 123, 238);
    }
    
    100% {
        color: rgb(226, 149, 241);
    }
    }

    .unselectable {
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
      }
      .log-but{
          color: black;
          border-radius: 10px;
          
      }
      .log-but:hover{
          color: white;
          
      }
   
</style>
<img style="height: 550px; width: 800px; position: absolute; top: 110px; left: 80px;" 
src="{% static 'img/appimage/welcome_img.png' %}" alt="">
<img class="unselectable" style="height: 240px; width: 210px; position: absolute; top: 400px; left: 1150px;" 
src="{% static 'img/appimage/chillpill_img.png' %}" alt="">
<br> <br> <br>
<h1 class="unselectable" style="display: inline; position: relative; left: 1000px; top: 50px; letter-spacing: 1px;"> 
    Download <span style="font-size: 35px" class="hd-cls">&nbspHD&nbsp</span> <br>Images For Free <br>Just By Signing Up </h1>

        <div style="position: relative; left: 1020px; top: 120px" class="col">
            <a style="z-index: 10px; border-radius: 10px 0px 0px 10px;background: rgb(22, 232, 247); width: 100px; height: 60px;display: flex; align-items: center; justify-content: center; font-weight: bold; font-family: verdana;"
             class='btn mx-2 log-but' href="{% url 'signup' %}">Sign up</a>
        </div>
        
        <div style="position: relative; left: 1120px; top: 60px;" class="col">
            <a style="border-radius: 0px 10px 10px 0px;background: rgb(224, 247, 22); width: 100px; height: 60px;display: flex; align-items: center; justify-content: center; font-weight: bold; font-family: verdana;"
            class='btn  mx-2 log-but' href="{% url 'login' %}">Log in</a>        
        </div>
    
{% endblock %}